name: release-please

on:
  push:
    branches: [main]

jobs:
  release-please:
    runs-on: ubuntu-24.04

    steps:
      - id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.RELEASE_PLEASE_APP_ID }}
          private-key: ${{ secrets.RELEASE_PLEASE_PRIVATE_KEY }}
      - id: release
        uses: google-github-actions/release-please-action@v4
        with:
          release-type: node
          token: ${{ steps.generate_token.outputs.token }}
      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}
      - run: corepack enable
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-node@v6
        with:
          node-version: 20.20.0
          registry-url: https://registry.npmjs.org/
        if: ${{ steps.release.outputs.release_created }}
      - run: pnpm install --frozen-lockfile
        if: ${{ steps.release.outputs.release_created }}
      - run: pnpm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        if: ${{ steps.release.outputs.release_created }}
